<section class="Figuras">
  <!--Seccion superior donde se muestra las categorias de bebidas-->
    <div id="Figura1" class="container text-center">
        <h3> <!--Titulo principal de la pagina-->
            Destilado Agave
            <small class="text-muted">Por y para el pueblo.</small> 
            <!--Parte del mismo titulo en un color desvanecido para no opacar al titulo principal-->
          </h3>
        <div class="row">
          <div class="col">
              <img src="../../../../../assets/img/Mezcal con agaves.jpeg" class="rounded-circle" alt="Cinque Terre">
              <!--Primer seccion donde se agrega la primer imagen-->
            <h1 class="display-6">Mezcal Blanco</h1>
            <p>Mezcal puro traído de la destilería "Laguna Seca", con un tiempo de reposado extenso para 
              traer la mejor calidad en el mercado a un precio justo.</p>
        </div>
        <!--Primer apartado en donde se agrego su pequeña descripcion-->
          <div class="col">
            <img src="../../../../../assets/img/Mezcal Color Agaves.jpeg" class="rounded-circle" alt="Cinque Terre">
            <!--Segunda seccion donde se agrega la segunda imagen-->
            <h1 class="display-6">Destilado de Agave</h1>
            <p>Estamos conscientes que, en muchas ocasiones, uno requiere de un sabor más fuerte para las ocasiones 
              especiales. Por eso traemos un destilado más fuerte para gente igual de fuerte.</p>
            </div>
            <!--Segunda seccion donde se agrego su pequeña descripcion-->
          <div class="col">
            <img src="../../../../../assets/img/Botellitas.jpeg" class="rounded-circle" alt="Cinque Terre"> 
            <!--Tercer apartado donde de agrega la tercer imagen-->
            <h1 class="display-6">Botellas Individuales</h1>
            <p>Este es un gusto para aquellos que sienten que lo merecen, por eso mismo, las botellas individuales 
              son perfectas para ti después de un duro día de trabajo.</p>
          </div>
          <!--Tecera serccion donde se agrego su pequeña descripcion-->
        </div>
      </div>
</section>

<section class="Info"> 
<!--Seccion de historia-->
  <div class="container text-center" id="Info1">
    <div class="row">
      <div class="col-sm-4">
        <img src="../../../../../assets/img/Ferecha.jpeg" class="rounded border border-danger border-5">
        <!--Seccion donde se agrego la primer imagen junto con un borde redondeado y con color rojo-->
      </div>
      <div class="col-sm-8">
        <h3>Historia del Mezcal</h3>
        <!--Titulo-->
        <p id="parrafo1">
          Es una bebida destilada, auténticamente mexicana, y aunque Oaxaca es considerada “la capital mundial del mezcal”; 
          la verdad es que esta bebida cuenta con denominación de origen que comprende territorios protegidos en los estados 
          de Durango, Guanajuato, Guerrero, Oaxaca, San Luis Potosí, Tamaulipas y Zacatecas
        </p>
        <p>
          Los agaves se distribuyen por todo el territorio mexicano; por cada región y cada variedad de maguey empleado para 
          destilar mezcal es que adopta diversos nombres, así en Chihuahua se conoce como bacanora; en Sonora es sotol, raicilla en 
          Jalisco y comiteco en Chiapas.
        </p>
        <p>
          Sin embargo, también existen otros destilados de agave; son bebidas de fabricación muy parecida y a veces idéntica a 
          la del mezcal, pero provienen de los estados que no cuentan con Denominación de Origen.
        </p>
      </div>
      <!--Parrafos extensos divididos en 3 para completar la historia-->
    </div>
  </div>
  <div class="container text-center" id="Info2">
  <!--Seguna seccion de informacion e historia-->
    <div class="row">
      <div class="col-sm-8">
        <h3>¿Sabias Que?</h3>
        <!--Subtitulo-->
        <p id="parrafo1" >
          Agave proviene del griego y significa admirable. Este nombre fue elegido por Carl von Linneo, un naturalista sueco, 
          para clasificar a la familia botánica de los magueyes en 1753. 
        </p>
      </div>
      <!--Parrafo mas corto-->
      <div class="col-sm-4">
        <img src="../../../../../assets/img/Ferecha Color.jpeg" class="rounded border border-primary border-5">
      </div>
      <!--Seguna imagen con borde redondeadom, esta vez con color azul para denotar colision de colores,
      esta vez puesta al final de los parrafos para ser agregada en el lado derecho del contenedor.-->
    </div>
  </div>
</section>

<section class="Pie"> <!--Secion del pie de pagina-->
  <div class="container">
    <div class="row justify-content-evenly">
      <div id="Texto1" class="col-6">
        <h3>Destilado Agave</h3>
        <!--Titulo-->
        <p>
          Destilado Agave es un mezcal 100% mexicano, elaborado de manera artesanal, con los ingredientes
          naturales y de la mas alta calidad.
        </p>
        <p>
          Por lo que nos comprometemos a traerle a todos los mexicanos, el mejor sabor del mezcal
          directamente a sus casas.
        </p>
      </div>
      <!--Seccion de parrafos con una pequeña descripcion de la "compañia"-->
      <div id="Contacto" class="col-4">
        <h4>Redes</h4>
        <h6>
          WhatsApp: 
          <small class="text-muted">+52 444-43-34-75-80</small>
        </h6>
        <h6>
          Twitter:
          <small class="text-muted">@MisakiCov</small>
        </h6>
        <h6>Instagram: 
            <small class="text-muted">@deadman2106</small>
        </h6>
      </div>
      <!--Seccion de redes-->
    </div>
  </div>
</section>