<section class="Figuras">
    <div id="Figura1" class="container text-center">
        <h3>
            Destilado Agave
            <small class="text-muted">Por y para el pueblo.</small>
          </h3>
        <div class="row">
          <div class="col">
              <img src="../../../../../assets/img/Mezcal con agaves.jpeg" class="rounded-circle" alt="Cinque Terre">
            <h1 class="display-6">Mezcal Blanco</h1>
            <p>Mezcal puro traído de la destilería "Laguna Seca", con un tiempo de reposado extenso para traer la mejor calidad en el mercado a un precio justo.</p>
            <button type="button" class="btn btn-info">Mas Información</button>
        </div>
          <div class="col">
            <img src="../../../../../assets/img/Mezcal Color Agaves.jpeg" class="rounded-circle" alt="Cinque Terre">
            <h1 class="display-6">Destilado de Agave</h1>
            <p>Estamos conscientes que, en muchas ocasiones, uno requiere de un sabor más fuerte para las ocasiones especiales. Por eso traemos un destilado más fuerte para gente igual de fuerte.</p>
            <button type="button" class="btn btn-info">Mas informacion</button>
        </div>
          <div class="col">
            <img src="../../../../../assets/img/Botellitas.jpeg" class="rounded-circle" alt="Cinque Terre"> 
            <h1 class="display-6">Botellas Individuales</h1>
            <p>Este es un gusto para aquellos que sienten que lo merecen, por eso mismo, las botellas individuales son perfectas para ti después de un duro día de trabajo.</p>
            <button type="button" class="btn btn-info">Mas informacion</button>
          </div>
        </div>
      </div>
</section>
<section class="Info">
  <div class="container text-center" id="Info1">
    <div class="row">
      <div class="col-sm-4">
        <img src="../../../../../assets/img/Ferecha.jpeg" class="rounded border border-danger border-5">
      </div>
      <div class="col-sm-8">
        <h3>Mezcal Blanco</h3>
        <p id="parrafo1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem harum earum iure et beatae nesciunt excepturi asperiores dolore architecto illo quidem explicabo, sunt vitae fuga labore aut quo illum.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus reprehenderit non eligendi aliquam consectetur iste ipsum dolore tempore ad eius expedita itaque, culpa harum laudantium nihil vel debitis possimus?
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure voluptate sequi ab magnam earum non ad atque esse ut! Ipsam quo repudiandae iusto aliquid nesciunt officia dolor non, cumque quaerat!
        </p>
      </div>
    </div>
  </div>
  <div class="container text-center" id="Info2">
    <div class="row">
      <div class="col-sm-8">
        <h3>Mezcal Curado</h3>
        <p id="parrafo1" >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore vel quidem accusantium, sit esse rerum totam neque animi beatae deleniti dolores quae. Distinctio suscipit perspiciatis aspernatur tempore ducimus earum perferendis!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta fugiat magnam blanditiis iste facilis, nemo excepturi quaerat placeat, reiciendis exercitationem quam vero eaque assumenda nam saepe, consequuntur voluptatem nostrum nulla!
        </p>
      </div>
      <div class="col-sm-4">
        <img src="../../../../../assets/img/Ferecha Color.jpeg" class="rounded border border-primary border-5">
      </div>
    </div>
  </div>
</section>
<section class="Pie">
  <div class="container">
    <div class="row justify-content-evenly">
      <div id="Texto1" class="col-6">
        <h3>Destilado Agave</h3>
        <p>
          Destilado Agave es un mezcal 100% mexicano, elaborado de manera artesanal, con los ingredientes
          naturales y de la mas alta calidad.
        </p>
        <p>
          Por lo que nos comprometemos a traerle a todos los mexicanos, el mejor sabor del mezcal
          directamente a sus casas.
        </p>
      </div>
      <div id="Contacto" class="col-4">
        <h4>Contacto</h4>
        <h6>
          No. Telefono: 
          <small class="text-muted">+52 444-43-34-75-75</small>
        </h6>
        <h6>
          Correo:
          <small class="text-muted">a278949@alumnos.uaslp.mx</small>
        </h6>
        <h6>Instagram: 
            <small class="text-muted">@deadman2106</small>
        </h6>
      </div>
    </div>
  </div>
</section>