#Figura1
/* Estilizacion del Figura
para ajustar al centro */
{
    padding: 3%;
    text-align: center;
    
}

#Figura1 img
/* Estilizacion de las imagenes
para ajustar el tamaño */
{
    width: 140px;
    height: 140px;
}

.Info
/* Estilizacion de la seccion
de informacion */
{
    display: block;
    background-color: black;
    color: white;
}

.Info img
/* Estilizacion de las imagenes
en la seccion de informacion */
{
    width: 250px;
    height: 300px;
    margin-top: 10%;
    margin-bottom: 10%;
}

#Info1 h3
/* Estilizacion de los titulos
en la seccion de informacion */
{
    text-align: left;
    margin-top: 5%;
}

#Info1 p
/* Estilizacion de los parrafos
en la seccion de informacion */
{
    text-align: justify;
}

#Info2 h3
/* Estilizacion de los titulos 
en la segunda seccion de informacion */
{
    color: white;
    text-align: right;
    margin-top: 5%;
}

#Info2 p
/* Estilizacion de los parrafos
en la segunda seccion de informacion */
{
    text-align: justify;
}

#parrafo1
/* Estilizacion del parrafo1 */
{
    margin-top: 25px;
}

.Pie
/* Estilizacion del pie de pagina */
{
    background-color: antiquewhite;
    display: block;
    margin-top: 4%;
    margin-bottom: 5%;
}

#Contacto
/* Estilizacion de la seccion de Redes */
{
    text-align: right;
}