<section class="container">
    <div class="card mb-3 " id="cards">
        <div class="row g-0" *ngFor="let item of ProductoList" id="row1">
            <div class="col-md-4">
            <img src="../../../../../assets/img/data/{{item.sabor}}.jpg" class="img-fluid rounded-start w-100 h-100" alt="{{item.Sabor}}">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="h2 card-title">{{item.sabor}}</h5>
                <p class="h5 card-text">{{item.descripcion}}</p>
                <a class="btn btn-primary" id="boton">${{item.precio}}.00 MXN</a>
            </div>
            </div>
        </div>
    </div>
</section>

