<section class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0" *ngFor="let item of ProductoList" style="border:black solid; margin: 1%; border-radius: 5px;">
            <div class="col-md-4">
            <img src="/app1/src/assets/img/{{item.Sabor}}.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{item.Sabor}}</h5>
                <p class="card-text">{{item.Descripcion}}</p>
            </div>
            </div>
        </div>
    </div>
</section>

