<h1 style="text-align: center;">Contacto</h1>
<section class="container">
    <table class="table table-dark" id="tabla">
        <thead>
          <tr >
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ContactoList">
            <th scope="row">{{item.nombre}}</th>
            <td>{{item.telefono}}</td>
            <td>{{item.correo}}</td>
            <td>
              <div class="d-grid">
                <button (click)="Eliminar(item.telefono)" type="button" class="btn btn-outline-danger">Borrar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</section>

<div class="container">
  <form [formGroup]="contactForm">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Contacto Nuevo</span>
      </div>
      <input formControlName="nombre"  type="text" class="form-control" placeholder="Nombre">
      <input formControlName="telefono" type="text" class="form-control" placeholder="Telefono">
      <input formControlName="correo" type="text" class="form-control" placeholder="Correo">
    </div>
    <section class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button (click)="Agregar()" class="btn btn-outline-primary mb-2">Agregar</button>
      </div>
    </section>
  </form>
</div>

