<h1>Contacto</h1> <!--Titulo de Contacto-->
<section class="container"> 
    <table class="table table-dark" id="tabla"> <!--Creacion de la tabla-->
        <thead>
          <tr> <!--Seleccion de la primera fila para los titulos de las diferentes columnas-->
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ContactoList"> 
            <!--Extraer item de la lista de Contactos establecida en en el TypeScript-->
            <th scope="row">{{item.nombre}}</th>
            <!--Valor de la primera columna con el nombre extraido de la tabla-->
            <td>{{item.telefono}}</td>
            <!--Valor de la segunda columna con el telefono extraido de la tabla-->
            <td>{{item.correo}}</td>
            <!--Valor de la tercera columna con el correo extraido de la tabla-->
            <td>
              <div class="d-grid">
                <button (click)="Eliminar(item.telefono)" type="button" class="btn btn-outline-danger">
                  Borrar
                </button>
                <!--Valor de la cuarta columna con el botón para eliminar el registro de esa fila,
                tomando como referencia el correo, llamando a la funcion Eliminar()-->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</section>

<div class="container">
  <form [formGroup]="contactForm"> 
    <!--Seccion del formulario para agregar un nuevo perfil de contacto-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Contacto Nuevo</span>
        <!--Titular para el Contacto Nuevo-->
      </div>
      <input formControlName="nombre"  type="text" class="form-control" placeholder="Nombre">
      <!--Primer espaciado para agregar el Nombre con la clase-->
      <input formControlName="telefono" type="text" class="form-control" placeholder="Telefono">
      <!--Segundo espaciado para agregar el Telefono-->
      <input formControlName="correo" type="text" class="form-control" placeholder="Correo">
      <!--Tercer espaciado para agregar el Correo-->
    </div>
    <section class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button (click)="Agregar()" class="btn btn-outline-primary mb-2">Agregar</button>
        <!--Botón para confirmar y agregar contenido, llamando a la función Agregar()-->
      </div>
    </section>
  </form>
</div>

