<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/Inicio']">Destilado Agave</a> 
      <!--Hacer que el logo sea clickable y redirija al componente Inicio-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Inicio']">Inicio</a>
            <!--Hacer que el boton "Inicio" redirija al componente Inicio-->
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Contacto']">Contacto</a>
            <!--Hacer que el botón "Contacto" redirija al componente Contacto-->
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Acerca']">Productos</a>
            <!--Hacer que el botón "Productos" redirija al componente Acerca-->
          </li>
        </ul>
      </div>
    </div>
  </nav>